version: "3.9"

services:
  db:
    image: postgres:15
    container_name: kasparro-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build: .
    container_name: kasparro-api
    env_file:
      - .env
    environment:
      API_BASE_URL: ${API_BASE_URL}
      API_KEY: ${API_KEY}
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"
    
    volumes:
      - ./data:/app/data
    command: >
      uv run uvicorn main:app
      --host 0.0.0.0
      --port 8000


volumes:
  postgres_data:
